<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <button ><a type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign up
          </a></button>
        </form>
        <p id="text">Don't have an account? <a id="btn" href="/">Sign up</a></p>
      </div>
</body>
</html>